@model StoreFront.DATA.EF.Models.Company

<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>