@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>

@{
    ViewData["Title"] = "Cart";

    string? previousAction = ViewBag.PrevAction;
}

@if (Model.Count == 0)
{
    <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">Cart</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                                <li class="breadcrumb-item"><a class="text-dark" href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                        @if (User.IsInRole("Admin"))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item "><a class="nav-link" href="@Url.Action("Index", "Orders")">All Orders</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
            <div class="row">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <!-- CART TABLE-->
                    <div class="table-responsive mb-4">
                        <table class="table text-nowrap">
                            <thead class="bg-light">
                                <tr>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Product</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Price</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Quantity</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Total</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
                                </tr>
                            </thead>
                        </table>
                        <p class="alert alert-warning text-center">
                            @ViewBag.Message
                        </p>
                    </div>
                    <!-- CART NAV-->
                    <div class="bg-light px-4 py-3">
                        <div class="row align-items-center text-center">
                            <div class="col-md-6 mb-3 mb-md-0 text-md-start">
                                <a asp-action="Index" asp-controller="Products" class=" btn btn-link p-0 text-dark btn-sm"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ORDER TOTAL-->
                <div class="col-lg-4">
                    <div class="card border-0 rounded-0 p-lg-4 bg-light">
                        <div class="card-body">
                            <h5 class="text-uppercase mb-4">Cart total</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex justify-content-between">
                                    <strong class="text-uppercase small font-weight-bold">Subtotal</strong>
                                    <p class="text-muted small">
                                </li>
                                <li class="border-bottom my-2"></li>
                                <li class="d-flex align-items-center justify-content-between mb-4">
                                    <strong class="text-uppercase small font-weight-bold">Total</strong>

                                    <span id="Cartprice" class="text">
                                        @($"{Model.Values.Sum(x => x.Product.ProductPrice * x.Qty):C}")
                                    </span>

                                </li>
                                <li>
                                    <form action="#">
                                        <div class="input-group mb-0">
                                            <input class="form-control" type="text" placeholder="Enter your coupon">
                                            <button class="btn btn-dark btn-sm w-100" disabled="disabled" type="submit"> <i class="fas fa-gift me-2"></i>Apply coupon</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">Cart</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                                <li class="breadcrumb-item"><a class="text-dark" href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                        @if (User.IsInRole("Admin"))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item "><a class="nav-link" href="@Url.Action("AdminView", "Products")">Products List</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
            <div class="row">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <!-- CART TABLE-->
                    <div class="table-responsive mb-4">
                        <table class="table text-nowrap">
                            <thead class="bg-light">
                                <tr>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Product</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Price</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Quantity</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Total</strong></th>
                                    <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Values)
                            {
                                <tbody class="border-0">
                                    <tr>
                                        <th class="ps-0 py-3 border-light" scope="row">
                                            <div class="d-flex align-items-center">
                                                <a class="reset-anchor d-block animsition-link"><img src="~/img/t_@item.Product.ProductImage" alt="@item.Product.ProductName" /></a>
                                                <div class="ms-3"><strong class="h6"><a class="reset-anchor animsition-link" asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.ProductId">@item.Product.ProductName</a></strong></div>
                                            </div>
                                        </th>
                                        <td class="p-3 align-middle border-light">
                                            <p class="mb-0 small">@($"{item.Product.ProductPrice:C}")</p>
                                        </td>
                                        <td class="p-3 align-middle">
                                            <form asp-action="UpdateCart">
                                                <input type="hidden" name="productId" value="@item.Product.ProductId" />
                                                <input type="number" min="0" name="qty" value="@item.Qty" class="form-control mx-auto text-center w-50 mb-0 d-inline-block" />
                                                <button type="submit" class="btn btn-outline-dark btn-sm d-inline-block">Update Quantity</button>
                                            </form>
                                        </td>
                                        <td class="p-3 align-middle border-light">
                                            <p class="mb-0 small">@($"{item.Product.ProductPrice * item.Qty:C}")</p>
                                        </td>
                                        <td class="p-3 align-middle border-light"><a class="reset-anchor" asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId"><i class="fas fa-trash-alt small text-muted"></i></a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- CART NAV-->
                    <div class="bg-light px-4 py-3">
                        <div class="row align-items-center text-center">
                            <div class="col-md-6 mb-3 mb-md-0 text-md-start">
                                <a asp-action="Index" asp-controller="Products" class=" btn btn-link p-0 text-dark btn-sm"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-md-6 text-md-end"><a asp-action="Checkout" class="btn btn-outline-dark btn-sm">Procceed to checkout<i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                            }
                            else
                            {
                                <div class="col-md-6 text-md-end"><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-dark btn-sm">Login to place order<i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                            }
                        </div>
                    </div>
                </div>
                <!-- ORDER TOTAL-->
                <div class="col-lg-4">
                    <div class="card border-0 rounded-0 p-lg-4 bg-light">
                        <div class="card-body">
                            <h5 class="text-uppercase mb-4">Cart total</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex justify-content-between">
                                    <strong class="text-uppercase small font-weight-bold">Subtotal</strong>
                                    <p class="text-muted small">
                                        @foreach (var item in Model.Values)
                                        {
                                            @($"{item.Product.ProductName}")
                                            <br />
                                        }
                                    </p>
                                    <p class="text-muted small">
                                        @foreach (var item in Model.Values)
                                        {
                                            @($"{item.Qty}x")
                                            <br />
                                        }
                                    </p>
                                    <p class="text-muted small">
                                        @foreach (var item in Model.Values)
                                        {
                                            @($"{item.Product.ProductPrice:C}")
                                            <br />
                                        }
                                    </p>

                                </li>
                                <li class="border-bottom my-2"></li>
                                <li class="d-flex align-items-center justify-content-between mb-4">
                                    <strong class="text-uppercase small font-weight-bold">Total</strong>

                                    <span id="Cartprice" class="text">
                                        @($"{Model.Values.Sum(x => x.Product.ProductPrice * x.Qty):C}")
                                    </span>

                                </li>
                                <li>
                                    <form action="#">
                                        <div class="input-group mb-0">
                                            <input class="form-control" type="text" placeholder="Enter your coupon">
                                            <button class="btn btn-dark btn-sm w-100" disabled="disabled" type="submit"> <i class="fas fa-gift me-2"></i>Apply coupon</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}