@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Anime Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Lightbox gallery-->
    <link rel="stylesheet" href="~/vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="~/vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.png">
    <!-- Datatable.net-->
    <link href="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.13.6/b-2.4.2/b-print-2.4.2/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <!-- PagedList -->
    <link href="~/css/PagedList.css" rel="stylesheet" />
</head>
<body>
    <div class="page-holder">
        <!-- navbar-->
        <header class="header bg-light">
            <div class="container px-lg-3">
                <nav class="navbar navbar-expand-lg justify-content-between navbar-light py-3 px-lg-0">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="fw-bold text-uppercase text-dark">Anime Shop</span></a>
                    <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <!-- Link--><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item">
                                <!-- Link--><a class="nav-link" href="@Url.Action("Index", "Products")">Shop</a>
                            </li>
                            @if (signInManager.IsSignedIn(User))
                            {
                                //Above, we check to make sure that someone is logged in if they are to view
                                //this HTML. *For this to work, we MUST have the using & inject statements at
                                //the top of this page.*
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Orders">Orders</a>
                                </li>
                            }

                            @*<li class="nav-item">
                            <!-- Link--><a class="nav-link" href="@Url.Action("Index", "ProductStatus")">Product detail</a>
                            </li>*@
                            @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a></div>
                            </li>*@
                            @*<li class="nav-item">
                            <!-- Link--><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact Us</a>
                            </li>*@
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                    <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item border-0 transition-link" 
                                        href="@Url.Action("ListRoles", "Administration")">Roles</a>
                                        <a class="dropdown-item border-0 transition-link" 
                                        href="@Url.Action("ListUsers", "Administration")">Users</a>
                                        <a class="dropdown-item border-0 transition-link" 
                                        href="@Url.Action("Index", "Categories")">Categories</a>
                                        <a class="dropdown-item border-0 transition-link" 
                                        href="@Url.Action("Index", "Companies")">Companies</a>
                                        <a class="dropdown-item border-0 transition-link"
                                           href="@Url.Action("Index", "Genres")">Genres</a>
                                        <a class="dropdown-item border-0 transition-link"
                                           href="@Url.Action("Index", "SwordTypes")">SwordTypes</a>
                                        <a class="dropdown-item border-0 transition-link" 
                                        href="@Url.Action("AdminView", "Products")">Products</a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "ShoppingCart")"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal">(Qty)</small></a></li>
                            @*<li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small class="text-gray fw-normal"> (0)</small></a></li>*@
                            @*<li class="nav-item"><a class="nav-link" href="#!"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>*@
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <br />

        @RenderBody()

        <footer class="bg-dark text-white">
            <div class="container py-4">
                <div class="row py-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h6 class="text-uppercase mb-3">Customer services</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" disabled="disabled">Help &amp; Contact Us</a></li>
                            <li><a class="footer-link" disabled="disabled">Returns &amp; Refunds</a></li>
                            <li><a class="footer-link" disabled="disabled">Online Stores</a></li>
                            <li><a class="footer-link" disabled="disabled">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h6 class="text-uppercase mb-3">Company</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" disabled="disabled">Available Services</a></li>
                            <li><a class="footer-link" disabled="disabled">Latest Posts</a></li>
                            <li><a class="footer-link" disabled="disabled">FAQs</a></li>
                            <li><a class="footer-link" disabled="disabled">What We Do</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-uppercase mb-3">Social media</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a class="footer-link" href="https://twitter.com/blake55568727?s=21&t=L28KExip9BhEiPE_cVMkg" target="_blank">Twitter</a></li>
                            <li><a class="footer-link" href="https://instagram.com/blake_m_harrison?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Instagram</a></li>
                            <li><a class="footer-link" href="https://github.com/notttpc" target="_blank">Github</a></li>
                            <li><a class="footer-link" href="https://www.linkedin.com/in/blake-harrison-664491284" target="_blank">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="border-top pt-4" style="border-color: #1d1d1d !important">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start">
                            <p class="small text-muted mb-0">&copy; @DateTime.Now.Year All rights reserved.</p>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor" href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a></p>
                            <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JavaScript files-->
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/vendor/nouislider/nouislider.min.js"></script>
        <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="~/js/front.js"></script>
        <script src="~/jquery/dist/jquery.min.js"></script>
        <!-- databtables.net-->
        <script src="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.13.6/b-2.4.2/b-print-2.4.2/date-1.5.1/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
        <!-- JQuery Unobtrusive AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- custom js -->
        <script src="~/js/custom.js"></script>
        <script>
            // ------------------------------------------------------- //
            //   Inject SVG Sprite -
            //   see more here
            //   https://css-tricks.com/ajaxing-svg-sprite/
            // ------------------------------------------------------ //
            function injectSvgSprite(path) {

                var ajax = new XMLHttpRequest();
                ajax.open("GET", path, true);
                ajax.send();
                ajax.onload = function (e) {
                    var div = document.createElement("div");
                    div.className = 'd-none';
                    div.innerHTML = ajax.responseText;
                    document.body.insertBefore(div, document.body.childNodes[0]);
                }
            }
            // this is set to BootstrapTemple website as you cannot
            // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
            // while using file:// protocol
            // pls don't forget to change to your domain :)
            injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

        </script>
        <script>
            $('.navbar-nav li a').each(function () {

                if ($(this).attr('href') == window.location.pathname) {

                    //Add the "active" class to the <li> tag

                    $(this).addClass('active');

                }

            });
        </script>
        @RenderSection("scripts", false)
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
</body>
</html>