@model IEnumerable<StoreFront.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Home";
}


<!-- HERO SECTION-->
<div class="container">
    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(img/SAO.jpg)">
        <div class="container py-5">
            <div class="row px-4 px-lg-5">
                <div class="col-lg-6">
                    <p class="text-white small text-uppercase mb-2">New Inspiration @DateTime.Now.Year</p>
                    <h1 class="h2 text-uppercase text-white mb-3">20% off on new season</h1><a class="btn btn-secondary" href="@Url.Action("Index", "Products")">Browse collections</a>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORIES SECTION-->
    <section class="pt-5">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">All the anime necessities</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
        </header>
        <div class="row">
            <div class="col-md-4">
                <a class="category-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="6"><img class="img-fluid" src="img/Hats.jpg" alt="Clothes" /><strong class="category-item-title">Clothes</strong></a>
            </div>
            <div class="col-md-4">
                <a class="category-item mb-4" href="@Url.Action("Index", "Products")"><img class="img-fluid" src="img/Jackets.jpg" alt="All Products" /><strong class="category-item-title">All Products</strong></a><a class="category-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="8"><img class="img-fluid" src="img/Manag.jpg" alt="Manga" /><strong class="category-item-title">Manga</strong></a>
            </div>
            <div class="col-md-4">
                <a class="category-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="7"><img class="img-fluid" src="img/Swords.jpg" alt="Sword" /><strong class="category-item-title">Swords</strong></a>
            </div>
        </div>
    </section>
    <!-- TRENDING PRODUCTS-->
    <section class="py-5">
        <header>
            <p class="small text-muted small text-uppercase mb-1">Our Featured</p>
            <h2 class="h5 text-uppercase mb-4">Top trending products</h2>
        </header>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="product text-center">
                        <div class="mb-3 position-relative">
                            <div class="badge text-white bg-"></div><a class="d-block" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId"><img class="img-fluid w-100" src="~/img/@item.ProductImage" alt="@item.ProductName"></a>
                            <div class="product-overlay">
                                <ul class="mb-0 list-inline">
                                    @*<li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>*@
                                    <li class="list-inline-item m-0 p-0">
                                        <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="btn btn-sm btn-dark">
                                            Add to Cart
                                        </a>
                                    </li>
                                    @*<li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                        <h6> <a class="reset-anchor" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">@item.ProductName</a></h6>
                        <p class="small text-muted">@Html.DisplayFor(modelItem => item.ProductPrice)</p>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- SERVICES-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row text-center gy-3">
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#delivery-time-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">Free shipping</h6>
                                <p class="text-sm mb-0 text-muted">Free shipping worldwide!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#helpline-24h-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">24 / 7 service</h6>
                                <p class="text-sm mb-0 text-muted">We take calls 24/7!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#label-tag-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">Festivaloffers</h6>
                                <p class="text-sm mb-0 text-muted">Only the best deals!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- NEWSLETTER-->
    <section class="py-5">
        <div class="container p-0">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <h5 class="text-uppercase">Sign up!</h5>
                    <p class="text-sm text-muted mb-0">Sign up for daily emails of the latest deals!</p>
                </div>
                <div class="col-lg-6">
                    <form action="#">
                        <div class="input-group">
                            <input class="form-control form-control-lg" type="email" placeholder="Enter your email address" aria-describedby="button-addon2">
                            <button class="btn btn-dark" disabled="disabled" id="button-addon2" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>